{
    "dataset_id":"021",
    "batch_size": 64,
    "epochs": 300,
    "alpha":0.3,
    "nz_alpha_after":20,
    "temperature":2.0,
    "learning_rate":5e-3,
    "use_class_weights": false,
    "model_name": "cnn_dist",
    "weight_decay":5e-5,
    "scheduler":{
        "learning_rate": 5e-3,
        "weight_decay": 5e-5,
        "lr_factor": 0.75,
        "lr_patience": 10,
        "min_lr": 1e-6
    },
    "DELTA":"V3 logits | Checking d3_2block with same config as r_id 50",
    "Terminated":false
}