{
    "dataset_id":"021",
    "batch_size": 64,
    "epochs": 100,
    "learning_rate":3e-3,
    "use_class_weights": true,
    "model_name": "cnn_lite",
    "weight_decay":1e-4,
    "scheduler":{
        "learning_rate": 1e-3,
        "weight_decay": 1e-4,
        "lr_factor": 0.5,
        "lr_patience": 5,
        "min_lr": 1e-6
    },
    "DELTA":"cnn_lite_v3"
}